@media (min-width: 576px) {
    #searchForm{
        display: inline;
        justify-content: center;
        flex-direction: column;
    }
}

*{
    align-items: center;
}
span {
    color: #f5d9d5;
    font-weight: 100;
}
